/* CLASSES CSS - th[eZ]20070125 */


/* BASIC CLASS TEMPLATE DESIGN */

div.template-design
{
    background-image: url(/ezno2005/design/ezno2005/images/box-te.gif);
    background-repeat: repeat-x;
    background-position: top;
}

div.template-module
{
    background-image: url(/ezno2005/design/ezno2005/images/box-tl.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

div.template-object
{
    background-image: url(/ezno2005/design/ezno2005/images/box-tr.gif);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0.5em 12px 1.5em 12px;
}

div.area-main-full-padding
{
    margin-top: -1.5em;
    padding: 0 1em 0.5em 1em;
    background-image: none;
}

div.area-main-normal div.attribute-heading h2.bullet
{
    background-position: 0 0.45em;
}

div.content-view-sidebar h1
{
    font-size: 1.2em;
    font-weight: bold;
}

div.content-view-sidebar h2
{
    font-size: 1.2em;
    font-weight: bold;
}

div.content-view-sidebar h3
{
    font-size: 1em;
}

div#main p a, div#main li a, div#main td a /* LINK */
{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #d2d2d2;
}

div#main a b, strong a
{
    color: #000000;
}

div#main a:hover, div#main a:hover b, strong a:hover
{
    color: #000000;
    border-color: #f15e22;
    text-decoration: none;
}

div.template-design ul
{
    padding: 0;
    margin: 0.75em 0 1em 0;
}

div.template-design ul ul, div.template-design ol ul
{
    margin: 0.3em 0 0.5em 12px;
}

div.template-design ul
{
    list-style-type: none;
}

div.template-design ul li
{
    margin: 0 0 0.5em 0.25em;
    padding: 0 0 0 14px;
    background-image: url(/ezno2005/design/ezno2005/images/mainlist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    line-height: 1.25em;
}

div.pagenavigator
{
    margin-top: 1em;
    text-align: center;
}

div.pagenavigator span.previous
{
    float: left;
}

div.pagenavigator span.next
{
    float: right;
}

div.pagenavigator span.current
{
    font-weight: bold;
    color: #4e4e4e;
}


/* GENERAL CLASSES */


div#main h1 a, div#main h2 a, div#main h3 a, div#main h4 a
{
    text-decoration: none;
    border: none;
}

div#main h1 a
{
    color: #f15e22;
}

div#main h2 a
{
    color: #333333;
}

div#main h3 a, div#main h4 a
{
    color: #808080;
}

div#main h1 a:hover, div#main h2 a:hover, div#main h3 a:hover, div#main h4 a:hover
{
    color: #000000;
    border-bottom: 1px solid #f15e22;
}

div#main b, div#main label, strong
{
    color: #333333;
}

div.content-view-full
{
}

div.content-view-line
{
    margin-bottom: 2em;
}

div.attribute-heading h1, div.attribute-heading h2, div.attribute-heading h3
{
    margin: 0.25em 0 0.5em 0;
}

div.attribute-heading h2.bullet
{
    padding-left: 14px;
    background-image: url(/ezno2005/design/ezno2005/images/content-header-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.35em;
    position: relative;
}

div#main div.attribute-heading h1
{
    color: #f15e22;
}

div#main div.attribute-heading h2.bullet, div#main div.attribute-heading h2.bullet a
{
    color: #333333;
}

div.split div.attribute-heading h1, div.split div.attribute-heading h2
{
    color: #6a6a6a;
}

div.node-view-frontpage div.attribute-heading h2
{
    margin-bottom: 0.25em;
}

div#main ul li h3 a:hover
{
    color: #000000;
    text-decoration: none;
}

div.attribute-byline
{
    font-size: 0.85em;
}

div.attribute-byline p
{
    margin: 0 0 0.5em 0;
}

div.content-view-full div.attribute-byline p
{
    margin-bottom: 1em;
}

div.content-view-sidebar div.attribute-byline
{
    font-size: 1em;
    margin: 0;
}

div.attribute-byline p.author
{
    float: right;
    clear: right;
}

div.attribute-byline p.date
{
    float: left;
    clear: left;
}

div.content-view-sidebar div.attribute-byline p.author, div.content-view-sidebar div.attribute-byline p.date
{
    float: none;
}

div.content-view-line div.attribute-byline
{
    margin-bottom: 0;
}

div.content-view-line div.attribute-short, div.content-view-line div.attribute-short p
{
    margin-top: 0.25em;
}

div.attribute-long
{
    margin-bottom: 1.5em;
}

div.content-view-line div.attribute-image
{
    float: right;
    margin: 0.35em 0 0.5em 0.5em;
}

div.attribute-linklist ul li, div.template-design ul.linklist li
{
    margin: 0 0 0.5em 0;
    padding: 0 0 0 14px;
    background-image: url(/ezno2005/design/ezno2005/images/linklist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    line-height: 1.25em;
}

.required
{
    color: #ff0000;
    font-weight: bold;
}

div.content-view-list h3
{
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

div#main div.content-view-list h3 a
{
    color: #4e4e4e;
    border-bottom: 1px solid #d2d2d2;
}

div#main div.content-view-list h3 a:hover
{
    border-bottom-color: #000000;
}

li div.attribute-byline
{
    margin: 0.25em 0 0 0;
}

li div.attribute-byline p
{
    margin: 0;
}

div.area-main-normal li div.attribute-byline p.author, div.area-main-normal li div.attribute-byline p.date
{
    margin-right: 0.5em;
    float: none;
    display: inline;
}

div.area-sidebar-normal li div.attribute-byline p.replies, li div.attribute-byline p.version
{
    clear: left;
}

div.area-sidebar-normal li div.attribute-byline p.status
{
    float: right;
    clear: right;
}


/* SPECIAL NODES */
div.node-view-frontpage div.split-two-right div.attribute-linklist ul
{
    margin-top: 0.5em;
}

div.node-view-products div.split-three-center div.class-banner, div.node-view-services div.split-three-center div.class-banner, div.node-view-knowledge-centre div.split-three-center div.class-banner
{
    margin: 0 -0.70em 0 -0.70em;
    text-align: center;
}

div.node-view-products div.split-three-center, div.node-view-services div.split-three-center, div.node-view-knowledge-centre div.split-three-center
{
    padding: 0 0.70em 0 0.70em;
}

div.node-view-products div.split-three-right div.class-banner, div.node-view-products div.split-sidebar div.class-banner, div.node-view-services div.split-three-right div.class-banner, div.node-view-services div.split-sidebar div.class-banner, div.node-view-knowledge-centre div.split-sidebar div.class-banner
{
    text-align: right;
}

div.node-view-knowledge-centre div.split div.split-main, div.node-view-knowledge-centre div.split div.split-sidebar
{
    margin-top: 0.9em;
}

div#main div.node-view-knowledge-centre div.class-banner a
{
    font-size: 0em;
}

div.node-view-knowledge-centre div.split div.split-sidebar div.last
{
    margin-top: 15px;
}

div.node-view-products div.template-object, div.node-view-services div.template-object, div.node-view-knowledge-centre div.template-object
{
    padding-bottom: 0.5em;
}

div.node-view-community div.sectionheader h1, div.sectionheader h1
{
    font-size: 1em;
    font-weight: bold;
    color: #434343;
    background-color: #d5d5d5;
    margin-top: 2em;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

div#main div.node-view-community div.sectionheader h1 a, div#main div.sectionheader h1 a
{
    color: #434343;
}

div#main div.node-view-community h3 a:hover
{
    color: #000000;
}

div.node-view-community div.article-list
{
    border-top: 1px solid #eaeaea;
}

div.article-listitem
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #eaeaea;
}

div.article-list p
{
    margin: 0.25em 0 0.25em 0;
}

div.article-list div.attribute-byline
{
    margin: 0;
}

div.node-view-forum table.forum
{
    margin-top: 1em;
}

div#main div.content-view-list h3 a:hover
{
    border-color: #f15e22;
    text-decoration: none;
}


/* RENDERED CONTENT */

table.renderedtable
{
    width: 100%;
    margin: 0;
    padding: 0;
}

table.renderedtable th
{
    white-space: normal;
}

table.renderedtable th p
{
    margin: 0;
}

table.renderedtable td
{
    padding: 0 0.75em 0.25em 0;
}


div#main div.image a, div#main div.attribute-image a
{
    border: none;
}


/* ARTICLE */

div.area-docmain-normal table.renderedtable, div.area-docmain-normal table.renderedtable td
{
    border-color: #eaeaea;
}

table.renderedtable td
{
    padding: 0.25em;
}


/* COMMENTS */

div.class-article div.content-view-children
{
    margin-top: 3em;
    padding-top: 1em;
}

div.class-comment div.bglight, div.class-comment div.bgdark
{
    padding: 0.5em 0.5em 1em 0.5em;
    border-bottom: 1px solid #eaeaea;
}

div.class-comment div.bglight
{
    background-color: #fafafa;
}

div.class-comment div.bgdark
{
    background-color: #f2f2f2;
}

div.class-comment div.content-view-line
{
    margin-bottom: 0;
}

div.class-comment h1
{
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eaeaea;
}

div.class-comment div.attribute-heading h1
{
    border: none;
}

div.class-comment div.bglight h2, div.class-comment div.bgdark h2
{
    margin-top: 0;
}

div.content-view-line div.class-comment div.button-edit
{
    float: right;
}


/* PRODUCT */

div.content-view-full div.class-product div.attribute-image
{
    margin: 0.25em 1.5em 0.5em 0;
    float: left;
}

div.attribute-price
{
    font-weight: bold;
    margin-bottom: 0.5em;
}

input.button-addtobasket
{
    margin-top: 0.5em;
}


div.content-view-line div.class-product div.attribute-image
{
    margin: 0.25em 1.5em 0.5em 0;
    float: left;
}


h1 span.itemcount, h2 span.itemcount
{
    font-size: 0.7em;
}


/* SHOPPING BASKET */

table.shop-basket
{
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

table.shop-basket th, table.shop-basket td
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    vertical-align: top;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #eaeaea;
}

table.shop-basket th
{
    font-weight: bold;
    color: #434343;
    background-color: #d5d5d5;
    text-align: left;
    white-space: nowrap;
}

table.shop-basket tr.bglight-sub td, table.shop-basket tr.bgdark-sub td
{
    border-top: none;
}

table.shop-basket tr.bglight, table.shop-basket tr.bglight-sub
{
    background-color: #fafafa;
}

table.shop-basket tr.bgdark, table.shop-basket tr.bgdark-sub
{
    background-color: #f2f2f2;
}

table.shop-basket div.shop-option
{
    margin: 0.5em 0 0.25em 0;
}

table.shop-basket tr.sum th
{
    background-color: transparent;
    text-align: right;
}

table.shop-basket td.quantity
{
    text-align: center;
}

div.shop-progress ul
{
    margin: 2em 0 0.5em 0;
}

div.shop-progress ul li
{
    margin: 0 0.75em 0 0;
    padding-left: 16px;
    list-style-type: none;
    background-image: url(/ezno2005/design/ezno2005/images/linklist-bullet.gif);
    background-position: 0 0.35em;
    float: left;
}

div.shop-confirmorder div.split h2
{
    margin-top: 0;
}

div.shop-confirmorder div.split label
{
    width: 8em;
    float: left;
    clear: left;
}


/* AD BANNER */

div.class-banner
{
    margin: 10px 0 10px 0;
}

div#main div.class-banner a
{
    border: none;
}

div.split div.class-banner
{
    margin: 0;
}

div.node-view-products div.split, div.node-view-services div.split
{
    margin: 0.75em 0 0.75em 0;
}

/* FORUM */

table.forum
{
    margin-top: 0em;
    border-top: 1px solid #eaeaea;
}

table.forum tr.bglight:hover, table.nohighlight tr.bglight:hover
{
    background-color: #fafafa;
}

table.forum tr.bgdark:hover, table.nohighlight tr.bgdark:hover
{
    background-color: #f2f2f2;
}

table.forum tr.bglight:hover td, table.forum tr.bgdark:hover td, table.nohighlight tr.bglight:hover td, table.nohighlight tr.bgdark:hover td
{
    border-color: #ffffff;
    border-bottom-color: #eaeaea;
}

table.forum td.info
{
    width: 20%;
}

table.forum td.message
{
    width: 79%;
}

table.forum td.buttons
{
    width: 1%;
    text-align: center;
}

div.button
{
    margin: 0.25em 0 0.25em 0;
}

table.forum td p.author, table.forum td p.date
{
    font-weight: bold;
    color: #333333;
}

table.forum pre
{
    border-style: dashed;
}

table.forum tr.bglight pre
{
    background-color: #ffffff;
}

table.forum tr.bgdark pre
{
    background-color: #ffffff;
}

div#main table.forum td.buttons a
{
    border: none;
}

table.forum p.membersince, table.forum p.posts
{
    font-style: italic;
}

div.attribute-signature
{
    border-top: 1px dashed #d2d2d2;
}

div.class-forummessage div.pagenavigator
{
    margin: 0;
    padding: 0;
    background-color: #d5d5d5;
}

div.class-forummessage div.pagenavigator p
{
    color: #ffffff;
    margin: 0;
    padding: 0.25em 0.25em 0.4em 0.25em;
}

div#main div.class-forummessage div.pagenavigator span a
{
    border-bottom-color: #434343;
}

div.class-forummessage table.forum
{
    margin-bottom: 0;
}


/* CONTRIBUTION */

h2 span.status
{
    font-size: 0.7em;
}

div.class-contribution table.list
{
    margin-top: 0;
}


/* BUGS */

div.bug-searchparameters select
{
    width: 15em;
}

td.bug-priotity
{
    text-align: center;
}

td.bug-pri5
{
    background-color: #cd6a6a;
}

td.bug-pri4
{
    background-color: #cd9f6a;
}

td.bug-pri3
{
    background-color: #cdcd6a;
}

td.bug-pri2
{
    background-color: #6acd6a;
}

td.bug-pri1
{
    background-color: #7a7bd2;
}

div.class-bugcomments h2
{
    font-size: 1em;
    font-weight: bold;
    color: #434343;
    margin-top: 0;
}

div.class-bugcomments div.bglight, div.class-bugcomments div.bgdark
{
    padding: 0.5em 0.5em 0 0.5em;
    border-bottom: 1px solid #eaeaea;
}


/* EMPLOYEE */

div.class-employee div.attribute-image
{
    float: left;
}

div.class-employee div.attribute-heading, div.class-employee div.attribute-short, div.class-employee div.attribute-long
{
    margin-left: 205px;
}
div.class-employee div.attribute-heading h2
{
    margin-bottom: 0.5em;
    clear: none;
}

div.class-employee div.attribute-short
{
    font-weight: bold;
    color: #333333;
}


/* SURVEY */

div.survey-view-full label
{
    white-space: normal;
}

div.survey-view-full div.block
{
    margin-bottom: 1em;
}

div#main div.survey-view-full div.element label
{
    font-weight: normal;
    color: #000000;
}

/* EMBED IMAGE CAPTION */

div.attribute-caption
{
    text-align: center;
    margin: 1.5em 0 1.5em 0;
}

div.attribute-caption p
{
    margin-top: 1em;
    font-style: italic;
    color: #404040;
}

/* Third level navigation */

ul#thirdlevel-menu
{
    list-style: none;
}

ul#thirdlevel-menu li.section-header
{
    background-image: none;
    margin-left: 0;
    padding-left: 0;
}

ul#thirdlevel-menu li.separator
{
    background-image: none;
    margin-left: 0;
    padding-left: 0;
}

ul#thirdlevel-menu li.thirdlevel
{
    margin-left: 1.2em;
}


ul#thirdlevel-menu li.seperator
{
    background-image: none;
    padding: 0;
}

ul#thirdlevel-menu li a#selected
{
    font-weight: bold;
}

ul#thirdlevel-menu li.level1
{
    margin-left: 1.2em;
}

/* Special override for the live chat banner */
div#main p a.live-chat
{
    border-bottom: 0px;
    text-decoration: none;
}

div.social-toolbar
{
    margin-top: 3em;
}

div.social-toolbar a
{
    padding: 0px 6px 0px 0px;
}

td.table-center, tr.table-center
{
    text-align: center;
}

td.table-right, tr.table-right
{
    text-align: right;
}

/* Open funding project help form */
div.class-open-funding-project-help div.hf-full
{
    width: 100%;
    padding: 0;
    margin: 0;
}

div.class-open-funding-project-help div.hf-full div.hf-left
{
    width: 49%;
    float: left;
    clear: left;
    margin: 0.25em 0.25em 0.25em 0;
}

div.class-open-funding-project-help div.hf-full div.hf-right
{
    width: 49%;
    float: right;
    clear: right;
    margin: 0.25em 0.25em 0.25em 0;
}

div.class-open-funding-project-help div.hf-full div.hf-left div.hf-element
{
    font-weight: normal;
    margin: 0.5em 0.5em 0.5em 0em;
    display: block;
}

div.class-open-funding-project-help div.hf-full div.hf-right div.hf-element
{
    margin: 0.5em 0.5em 0.5em 0em;
    display: block;
}

div.class-open-funding-project-help div.hf-short-element
{
    width: 38%;
    float: left;
    clear: left;
}

div.class-open-funding-project-help div.hf-medium-element
{
    width: 60%;
    float: left;
    clear: left;
}

div.class-open-funding-project-help div.hf-long-element
{
    width: 99%;
    float: left;
    clear: left;
}

div.class-open-funding-project-help div.hf-amount-element
{
    width: 10%;
    float: left;
    clear: left;
}

table.open-funding-offer-table tr.sum th
{
    background-color: transparent;
    text-align: right;
}

table.open-funding-offer-table td
{
    margin-right: 5em;
    margin-left: 5em;
    white-space:nowrap;
}

/* Knowledge Centre */
div.node-view-knowledge-centre div.split div.split-main div.partner-info
{
    background: url(/ezno2005/design/ezno2005/images/partner-info.jpg) no-repeat 0px 0px;
    height: 135px;
    width: 557px;
}

div.node-view-knowledge-centre div.split div.split-main div.partner-info h1
{
    margin-top: 0;
}

div.node-view-knowledge-centre div.split div.split-main div.partner-info h1.welcome
{
    padding: 0.45em 0em 0em 0.8em;
    margin-bottom: 0.3em;
    color: #ffffff;
}

div.template-design ul.knowledge-center-highlight-list
{
    margin: 2em 0 0 0.8em;
    padding: 0;
    display: block;
}

div.template-design ul.knowledge-center-highlight-list li
{
    color: #ffffff;
    height: 16px;
    width: 200px;
    margin: 0;
    padding: 0 0px 9px 20px;
    background: url(/ezno2005/design/ezno2005/images/highlight-list-bullet.gif) no-repeat 10px 5px;
    float: left;
}

div#main ul.knowledge-center-highlight-list li a
{
    color: #ffffff;
}

div.hf-element input.box
{
    width: 80%;
}

div.hf-element input.halfbox
{
    width: 39%;
}

div.columns-two, div.columns-three, div.columns-four
{
  height: 1%; /* Fix for IE */
}

div.columns-two:after, div.columns-three:after, div.columns-four:after
{
  content: "-";
  height: 0;
  font-size: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3, div.columns-four div.col-4
{
  width: 100%;
}

div.columns-three div.col-1-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-3-4
{
  width: 50%;
}

div.columns-two div.col-2, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-4
{
  margin-right: -100%;
}

div.columns-two, div.columns-three div.col-1-2, div.columns-four, div.columns-four div.col-1-2, div.columns-four div.col-3-4
{
  padding-right: 50%;
}

div.columns-three
{
  margin-right: 2px; /* This value may need to be tuned depending on most expected width of div.columns-three */
  padding-right: 33%;
  }

div.columns-two div.col-1, div.columns-two div.col-2, div.columns-three div.col-1-2, div.columns-three div.col-1, div.columns-three div.col-2, div.columns-three div.col-3, div.columns-four div.col-1-2, div.columns-four div.col-1, div.columns-four div.col-2, div.columns-four div.col-3-4, div.columns-four div.col-3, div.columns-four div.col-4
{
  float: left;
  display: inline; /* Fix for IE */
}


/* SPACING EXAMPLE */

div.columns-two div.col-1 div.col-content
{
  margin-right: 0.5em;
}

div.columns-two div.col-2 div.col-content
{
  margin-left: 0.5em;
}

div.columns-three div.col-1 div.col-content
{
  margin-right: 0.66em;
}

div.columns-three div.col-2 div.col-content
{
  margin: 0 0.33em 0 0.33em;
}

div.columns-three div.col-3 div.col-content
{
  margin-left: 0.66em;
}

div.columns-four div.col-1 div.col-content
{
  margin-right: 0.75em;
}

div.columns-four div.col-2 div.col-content
{
  margin: 0 0.5em 0 0.25em;
}

div.columns-four div.col-3 div.col-content
{
  margin: 0 0.25em 0 0.5em;
}

div.columns-four div.col-4 div.col-content
{
  margin-left: 0.75em;
}


/* IMAGE POSITION ADJUSTMENTS */

div.container
{
  width: 540px;
}

a img
{
  border: none;
}

div.arrowboxes a
{
  display: block;
}

div.arrowboxes div.col-1 img
{
  position: relative;
  margin-right: -25px; /* Fix for IE: This margin must be tuned to the width of the area the center image is allowed to overlap the left image */
}

div.arrowboxes div.col-2 img
{
  margin: 0 auto 0 auto;
  display: block;
  position: relative;
  left: -15px;
}

div.arrowboxes div.col-3 a
{
  text-align: right;
}

div.arrowboxes div.col-3 img
{
  position: relative;
}

span.forum-replies
{
    font-size: 10px;
    white-space: no-wrap;
}

span.rss-badge
{
    float: right;
}

div#main div.attribute-heading h2.bullet span.rss-badge a:hover
{
    border: none;
}

div.spacer
{
    padding: 4px 0px 4px 0px;
}

/* Main product pages */
div.node-view-product-frontpage div.first-row
{
    margin-bottom: 0;
}

div.node-view-product-frontpage div.first-row div.split-two-left, div.node-view-product-frontpage div.last-row div.split-two-left 
{
    width: 558px;
    background-color: #f4f4f4;
}

div.node-view-product-frontpage div.first-row div.split-two-left
{
    height: 82px;
}

div.node-view-product-frontpage div.class-banner
{
    margin-bottom: 1.3em;
}

div.node-view-product-frontpage div.split-two-left p, div.node-view-product-frontpage div.split-two-right p
{
    margin: 5px 10px 5px 14px;
}

div.node-view-product-frontpage div.split-two-right p
{
    margin: 0;
}

div.node-view-product-frontpage div.second-row ul li
{
    line-height: 1.90em;
    background-position: 0px 0.67em;
    margin-bottom: 0px;
}

div.node-view-product-frontpage div.second-row ul li input
{
    float: right;
    display: inline;
}

div.node-view-product-frontpage div.second-row ul li form
{
    clear: none;
    display: inline;
}

div.node-view-product-frontpage div.last-row div.split-two-right ul li
{
    line-height: 1.50em;
}

div.node-view-product-frontpage div.second-row div.split-three-left, div.node-view-product-frontpage div.second-row div.split-three-center div.float-insert, div.node-view-product-frontpage div.second-row div.split-three-right
{
    background-color: #f4f4f4;
    padding-bottom: 16px;
} 

div.node-view-product-frontpage div.last-row div.flash div.content-view-embed
{
    background-color: #f4f4f4;    
    margin: 12px 14px 12px 12px;
}

div.node-view-product-frontpage div.last-row div.split-two-right div.box
{
    background-color: #f4f4f4;
}

div.node-view-product-frontpage div.last-row div.flash
{
    border: 1px solid #333333;
}

div.node-view-product-frontpage div.last-row div.split-two-right div.box ul, div.node-view-product-frontpage div.last-row div.split-two-right div.box p
{
    padding: 1px 10px 1px 14px;
    margin-bottom: 0px;
}

div.node-view-product-frontpage div.last-row div.split-two-right div.box ul
{
    margin-top: 0.2em;
    padding-bottom: 0.5em;
}

div.second-row, div.last-row
{
    padding-top: 10px;    
}

div.node-view-product-frontpage div.second-row p, div.node-view-product-frontpage div.second-row ul 
{
    padding: 0px 14px 0px 14px;
    margin: 8px 0px 0px 0px;
}

/* eZP Now Headers */
div#main div.node-view-product-frontpage div.first-row div.split-two-left h2
{
    color: #f06020;
    margin: 4px 0px 10px 14px;
}

div#main div.node-view-product-frontpage div.split-two-left h2 a
{
    color: #f06020;
}

div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2
{
    font-size: 14px;
    letter-spacing: 1px;
    padding: 3px 0px 3px 28px;
    margin: 0px 0px 4px 0px;
    background-position: 14px 0.65em;
}

div#main div.node-view-product-frontpage div.last-row div.attribute-heading
{
    color: #ffffff;
    background-color: #333333;
    padding: 1px 0px 1px 14px;
    margin-bottom: 5px;
}

div#main div.node-view-product-frontpage div.last-row div.attribute-heading h2
{
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #333333;
    margin: 2px;
    background-image:url( /web/20071013025925im_/http://ez.no/extension/ezno2005/design/ezno2005/images/grey_arrow.jpg );
    background-position: 0px 0.40em;
}

div#main div.node-view-product-frontpage div.last-row div.attribute-heading h2 a
{
    color: #ffffff;
}

div.node-view-product-frontpage div.frontpage-heading h1
{
    font-size: 1.3em;
    color: #f06020;
    letter-spacing: 0.05em;
    background-color: #f4f4f4;
    margin: 5px 0 0 0;
    padding: 0px 10px 0px 14px;
}

/* eZ Publish frontpage specific styles */
div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezpublish, div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezpublish a
{
    color: #000000;
    background-color: #F0AB00;
}

div#main div.node-view-product-frontpage div.content-view-list h3 a
{
    color: #000000;
}

/* eZ Components frontpage specific styles */
div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezcomponents, div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezcomponents a
{
    color: #FFFFFF;
    background-color: #545278;
}

div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezcomponents, div#main div.node-view-product-frontpage div.last-row div.attribute-heading h2.ezcomponents
{
    background-image:url( /web/20071013025925im_/http://ez.no/extension/ezno2005/design/ezno2005/images/white_arrow.gif );
}

div#main div.node-view-product-frontpage div.last-row div.ezcomponents h2, div#main div.node-view-product-frontpage div.last-row div.ezcomponents
{
    color: #FFFFFF;
    background-color: #000000;
}

/* eZ Find frontpage specific styles */
div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezfind, div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezfind a
{
    color: #FFFFFF;
    background-color: #C60C30;
}

div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.ezfind, div#main div.node-view-product-frontpage div.last-row div.attribute-heading h2.ezfind
{
    background-image:url( /web/20071013025925im_/http://ez.no/extension/ezno2005/design/ezno2005/images/white_arrow.gif );
}

div#main div.node-view-product-frontpage div.last-row div.ezfind h2, div#main div.node-view-product-frontpage div.last-row div.ezfind
{
    color: #FFFFFF;
    background-color: #000000;
}

/* eZ Newsletter frontpage specific styles */
div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.eznewsletter, div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.eznewsletter a
{
    color: #FFFFFF;
    background-color: #3A8A2C;
}

div#main div.node-view-product-frontpage div.second-row div.attribute-heading h2.eznewsletter, div#main div.node-view-product-frontpage div.last-row div.attribute-heading h2.eznewsletter
{
    background-image:url( /web/20071013025925im_/http://ez.no/extension/ezno2005/design/ezno2005/images/white_arrow.gif );
}

/* Frontpage specific styles */
div.node-view-product-frontpage div.frontpage div.first-row div.split-two-left
{
    background-color:#FFFFFF;
    height: 100%;
}

div.node-view-product-frontpage div.frontpage div.frontpage-heading h1
{
    line-height: 22px;
    margin: 10px 0 0 0;
    padding: 5px 10px 5px 14px;
}

div.template-design div.frontpage ul.frontpage-highlight-list
{
    background-color: #f4f4f4;
    margin: 0 0 10px 0;
    padding: 0;
    display: block;
}

div.template-design div.frontpage ul.frontpage-highlight-list li
{
    color: #000000;
    width: 240px;
    margin: 0;
    margin-left: 5px;
    padding: 0 0 9px 20px;
    background: url(/ezno2005/design/ezno2005/images/highlight-list-bullet.gif) no-repeat 10px 5px;
    float: left;
}

div.node-view-product-frontpage div.frontpage div.second-row div.attribute-heading h2.frontpage
{
    background-color: #f06020;
    color: #ffffff;
    background-image:url(/ezno2005/design/ezno2005/images/white_arrow.gif);
}

div#main div.node-view-product-frontpage div.frontpage div.second-row div.attribute-heading h2.frontpage, div#main div.node-view-product-frontpage div.frontpage div.second-row div.attribute-heading h2.frontpage a
{
    color: #ffffff;
    background-color: #f06020;
}

div#main div.node-view-product-frontpage div.frontpage div.second-row h3
{
    font-size: 1.05em;
    letter-spacing: 0.03em;
    color: #f06020;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 14px;
}

div#main div.node-view-product-frontpage div.frontpage div.second-row h3 a
{
    color: #f06020;
}

div.node-view-product-frontpage div.frontpage div.first-row div.class-banner
{
    margin-top: 10px;
}

div.node-view-product-frontpage div.frontpage div.first-row
{
    margin-bottom: 0px;
}

div#main div.node-view-product-frontpage div.frontpage div.last-row div.attribute-heading h2, div#main div.node-view-product-frontpage div.frontpage div.last-row div.attribute-heading h2 a
{
    color: #999999;
    background-color: #ffffff;
    margin: 0;
}

div#main div.node-view-product-frontpage div.frontpage div.last-row div.attribute-heading
{
    background-color: #ffffff;
    padding: 0;
    margin: 0;    
    padding-left: 14px;
}

div#main div.node-view-product-frontpage div.frontpage div.last-row ul
{
    padding-left: 14px;
}

div#main div.node-view-product-frontpage div.frontpage div.last-row div.attribute-heading h2
{
    background-image: url(/ezno2005/design/ezno2005/images/darkgrey_arrow.gif);
}

div#main div.node-view-product-frontpage div.frontpage div.last-row ul li
{
    color: #999999;
    background-image: url(/ezno2005/design/ezno2005/images/lightgrey_arrow.gif);
    line-height: 1.5em;
    background-position: 0px 0.55em;
}

div#main div.node-view-product-frontpage div.frontpage div.last-row ul li a
{
    color: #999999;
}

/* Newsticker */
div#newsticker
{
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    padding: 0.3em 0.3em 0.3em 0px;
    height: 1.4em;
}

div#newsticker h2
{
    font-size: 14px;
    margin: 0;
    clear: none;
    float: left;
    padding: 0px 28px 0px 14px;
}

div#newsticker ul
{
    margin: 0px;
}

div#newsticker ul li
{
    display: none;
}

div#newsticker ul li.first
{
    display: inline;
}

div#newsticker ul li a
{
    color: #000000;
}

span.forum-replies
{
    font-size: 10px;
    white-space: no-wrap;
}

span.rss-badge 
{
    float: right;
}

div#main div.attribute-heading h2.bullet span.rss-badge a:hover
{ 
    border: none;
}

fieldset.preview
{
    margin-bottom: 1.8em;
    padding: 0.8em;
    width: 66%;
}

fieldset.preview legend
{
    font-size: 1.1em;
    color: #808080;
}

span.show_preview
{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #d2d2d2;
}

span.show_preview:hover
{
    color: #000000;
    border-color: #f15e22;
    text-decoration: none;
}

textarea.readonly
{
    overflow: hidden;
    height: 1.25em;
    width: 99.70%;
    width: 420px;
    font-size: 0.88em;
    border: 1px dotted #000000;
}

input.readonly, input.flash-update
{
    height: 1.25em;
    width: 420px;
    font-size: 0.88em;
    border: 1px dotted #000000;
}

fieldset.preview div.block
{
    margin-bottom: 0px;
}

fieldset.preview input.helpertext
{
    color: #7E7E7E;
}

input.html-code-normal
{
    color: #000000;
}

input.flash-update
{
    color: #14A500;
}

span.choose-banner-size
{
    margin-right: 0.6em;
}

div.area-main-full div.content-view-full div.class-content-repository div.attribute-short, div.area-main-full div.content-view-full div.class-content-repository div.attribute-long
{
    width: 66%;
}


div.node-view-partnerlist div.attribute-quote p
{
    margin: 0;
    padding: 0;
}

div.node-view-partnerlist div.attribute-quote p.quote-author
{
    margin-top: 0.4em;
}

div.node-view-partnerlist div.attribute-quote br
{
    display: none;
}

div.node-view-partnerlist p.partner-logos img, div.node-view-partnerlist p.partner-logos a img 
{
    padding-right: 0.8em;
}

div.node-view-partnerlist div.split-two-left
{
    width: 23%;
    margin: 0;
    padding: 0;
}

div.node-view-partnerlist div.split-two-left a, div.node-view-partnerlist div.split-two-left a img
{
    margin: 0;
    padding: 0;
    display: inline;    
}

div.node-view-partnerlist div.split-two-right
{
    width: 77%;
    margin: 0;
    padding: 0;
}

div.node-view-partnerlist div.silver p
{
    margin-bottom: 0;
}

div.node-view-partnerlist div.split-two-right div.object-right
{
    padding-left: 0.8em;
}

div.node-view-partnerlist div.split-two-right h2
{
    clear: none;
    display: inline;
    padding: 0;
    margin: 0;
}

div.node-view-partnerlist p.phone, div.node-view-partnerlist p.partner-logos
{
    padding-bottom: 0;
    margin-bottom: 0;
}

div.node-view-partnerlist h3
{
    padding: 5px 34px 0px 0px;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;   
    height: 24px;
    clear: none;
    margin: 0;
    font-size: 0.9em;
    float: left;
}

div.node-view-partnerlist h3.platninum
{
    background-image: url(/ezno2005/design/ezno2005/images/partner/gold_icon.jpg);
}

div.node-view-partnerlist h3.gold
{
    background-image: url(/ezno2005/design/ezno2005/images/partner/gold_icon.jpg);
}

div.node-view-partnerlist h3.silver
{
    background-image: url(/ezno2005/design/ezno2005/images/partner/silver_icon.jpg);
}

div.node-view-partnerlist h3.bronze
{
    background-image: url(/ezno2005/design/ezno2005/images/partner/bronze_icon.jpg);
}


div.node-view-partnerlist div.split
{
    border-top: 1px solid #D2D2D2;
    margin: 0;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

div.node-view-partnerlist div.content-view-children
{
    margin-top: 1em;
}

div#main p.partner-logos a
{
    border-bottom: none;
}

div.node-view-partnerlist p.legend
{
    margin-top: 10px;
}
 
div.node-view-partnerlist p.legend img
{
    padding: 0px 0.4em 0px 1.3em;
    position: relative;
    top: 0.3em;
}       

div.node-view-partnerlist p.legend span
{
    padding: 0px;
}       


div.node-view-product-frontpage div.last-row div.split-two-right div.box p.quote-author
{
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}
/*
     FILE ARCHIVED ON 02:59:25 Oct 13, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:43:51 Oct 31, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.081
  exclusion.robots: 0.048
  exclusion.robots.policy: 0.029
  esindex: 0.017
  cdx.remote: 5.04
  LoadShardBlock: 73.805 (3)
  PetaboxLoader3.datanode: 89.273 (4)
  load_resource: 309.575
  PetaboxLoader3.resolve: 250.903
*/